{% extends 'main/base.html' %}
{% block title %} UpdatePost{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid ">
    <div class="container" style="height: 100px;"></div>
    <div class="row">
      <div class="col"></div>
      <div class="col-4 ">
        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{form|crispy}}
          <button type="submit" class="btn btn-warning mt-3">Update</button>
        </form>
      </div>
      <div class="col"></div>
    </div>
  </div>
{% endblock %}